<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
     <h6 class="d-flex justify-content-left mb-5  p-2 text-black" style="border: 4px solid #BBFFFF;">新規ログイン</h6>
     <h6 class="d-flex justify-content-left mb-5 p-2" style="border: 4px solid #BBFFFF; color:red">
       こちらは新郎新婦様のみログイン、閲覧が可能となっております。<br>
       招待者様はログイン、閲覧を控えていただくようにお願い申し上げます
     </h6>
  </div>

      <%= form_with model: @gest, url: gest_registration_path, id: 'new_gest', class: 'new_gest', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field row mb-2">
          <%= f.label :名前,class: "col-2"%>
          <%= f.label :（姓）,class: "col-1"%>
          <%= f.text_field :lastname, placeholder: "令和", autofocus: true, class: "col-3"%>
          <%= f.label :（名）,class: "col-1"%>
          <%= f.text_field :firstname, placeholder: "道子", autofocus: true, class: "col-3"%>
        </div>
        <div class="field row mb-2">
          <%= f.label :フリガナ,class: "col-2"%>
          <%= f.label :（セイ）,class: "col-1" %>
          <%= f.text_field :kana_lastname,placeholder: "レイワ", autofocus: true, class: "col-3"%>
          <%= f.label :（メイ）,class: "col-1" %>
          <%= f.text_field :kana_firstname,placeholder: "ミチコ",autofocus: true, class: "col-3"%>
        </div>
        <div class="field row mb-2">
          <%= f.label :メールアドレス ,class: "col-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3" %>
        </div>
        <div class="field row mb-2">
          <%= f.label :パスワード（６文字以上）,class: "col-3"%>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-3" %>
        </div>
        <div class="row mb-2">
          <%= f.label :パスワード（確認用）,class: "col-3"%>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3" %>
        </div>
        <div class="field row mb-4">
           <div class="col-3"></div>
           <%= f.submit "新規登録" ,class: "col-2 btn btn-sm btn-success" %>
        </div>

        <div class="row">
         <div class="col-3"></div>
           <%= f.submit "既に登録済みの方" ,class: "col-2 btn btn-sm btn-success" %>
           <%= link_to "こちら",new_gest_session_path, class: "link-primary"%>からログインしてください
         </div>
        </div>
        <% end %>
</div>
