<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
       <h6 class="d-flex justify-content-left mb-5  p-2 text-black bg-opacity-10 " style="border: 4px solid #BBFFFF;">ゲスト様一覧</h6>
  </div>

      <table class='table'>
        <thead　class='thead-light'>
          <tr>
            <th>氏名</th>
            <th>氏名(カナ)</th>
            <th>出欠</th>
          </tr>
        </thead>
        <tbody>
          <% @gests.each do |gest| %>
          <tr>
            <td>
              <%=  link_to gest_path(gest.id),class: 'nav-link' do %>
                <%= gest.lastname %><%= gest.firstname %>
              <% end %>
            </td>
            <td><%= gest.kana_lastname %><%= gest.kana_firstname %></td>
            <td>
              <% if gest.is_deleted? %>
                欠席
              <% else %>
                出席
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
</div>
