 <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <span style="color:white"> Happy Wedding </span>


      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      <% if gest_signed_in? %>
       <%= link_to  wedding_path, class: 'nav-link text-light' do %>
       <li><i class="fa-rings-wedding">Top</i></li>
       <% end %>

       <%= link_to gest_path(current_user_id), class: 'nav-link text-light' do %>
       <li><i class="fas fa-envelope-open"></i>RSVP check</li>
       <% end %>

       <%= link_to edit_registration_path(current_gest), class: 'nav-link text-light' do %>
       <li><i class="fas fa-envelope"></i>RSVP send</li>
       <% end %>

       <%= link_to destroy_gest_session_path, class: 'nav-link text-light', method: :delete do %>
       <li><i class="fas fa-sign-out-alt"></i>Log out</li>
       <% end %>
      <% else %>
        <%= link_to wedding_path, class: 'nav-link text-light' do %>
        <li><i class="fa-rings-wedding"></i>Top</li>
        <% end %>

        <%= link_to gest_path(current_gest_id), class: 'nav-link text-light' do %>
        <li><i class="fas fa-envelope-open"></i>RSVP check</li>
        <% end %>

        <%= link_to  edit_gest_registration_path, class: 'nav-link text-light' do %>
        <li><i class="fas fa-envelope"></i>RSVP send</li>
        <% end %>

        <%= link_to gest_session_path, class: 'nav-link text-light' do %>
        <li><i class="fas fa-sign-in-alt"></i> Log in</li>
        <% end %>
       <% end %>
        </ul>
      </div>

  </nav>
</header>